@import url(loader.css);
@import url(./assets/font/circular-std/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Circular Std', sans-serif;

  ::-webkit-scrollbar {
    display: none;
  }
}

.clickable {
  @apply cursor-pointer;
}

nav {
  @apply bg-white dark:bg-black;

  button.bg {
    @apply hover:scale-110 bg-[#fefefe] dark:bg-[#1f1f1f] h-3/5 w-[36.95px] rounded-full flex items-center justify-center;

    svg {
      @apply fill-darkColor dark:fill-lightColor;
    }
  }

  .login__logout {
    @apply -translate-x-4 h-3/5 px-4 text-xl rounded-full border text-[#fefefe] dark:text-[#1f1f1f] dark:border-[#1f1f1f] dark:hover:text-[#343434] dark:hover:border-[#343434];
  }
}

main {
  .container {
    @apply bg-lightColor dark:bg-darkColor h-full rounded-lg p-4 overflow-scroll;

    a,
    p,
    h1,
    h2,
    h3,
    h4,
    svg,
    span,
    li {
      @apply text-black dark:text-white;
    }

    .spotify__btn {
      @apply bg-spotifyGreen rounded-full flex justify-center items-center;
      svg {
        @apply text-lightColor fill-lightColor dark:text-darkColor dark:fill-darkColor !important;
      }
    }

    .spotify__svg {
      @apply text-spotifyGreen fill-spotifyGreen !important;
    }

    .UserTopBtn {
      @apply flex gap-2 my-4 p-3 justify-between items-center w-full h-20 dark:bg-[#121212] dark:hover:bg-[#1f1f1f] rounded-md cursor-pointer transition-colors;

      &.active {
        @apply dark:bg-[#2a2a2a] hover:dark:bg-[#484848];
      }

      img {
        @apply w-16 h-16 object-cover rounded-md;
      }

      h1 {
        @apply text-lg font-semibold;
      }
    }

    .container__mid {
      @apply object-cover rounded-md m-2 bg-cover flex flex-col items-center justify-center;

      &.square,
      &.lowSquare {
        @apply w-32 h-32 hover:opacity-50;
      }

      &.rectangle {
        @apply w-28 h-28;
      }

      div {
        @apply bg-black/75 opacity-0 px-2 py-1 rounded-lg flex items-center flex-col transition-opacity;

        p {
          @apply transition-none text-[#b3b3b3] !important;
        }
      }
    }

    &.container__right {
      .term__btn {
        @apply flex justify-between mt-3;
        button {
          @apply bg-lightColor dark:bg-[#212121] p-2 rounded-md w-[30%];

          h3 {
            @apply text-lightColor dark:text-[#b3b3b3] text-[.6vw] font-bold;
          }
        }
      }
      .list__btn {
        @apply flex justify-start gap-3 mt-3;
        button {
          @apply bg-lightColor dark:bg-[#212121] p-2 rounded-md;

          &.active {
            @apply bg-white dark:bg-[#313131];
          }

          div {
            @apply flex;
          }
        }
      }

      .current__track__name {
        @apply text-2xl font-bold hover:underline max-w-96 text-black dark:text-white;
      }

      .coche {
        @apply text-lightColor dark:text-darkColor !important;
      }
    }
  }

  .data {
    @apply flex gap-2 items-center bg-white dark:bg-[#212121] p-2 mb-2 rounded-md;
  }
}
